/* generales */
*{
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
}

/* header */

.container_principal_header{
  width: 100vw;
  height: 8vh;
  background-color: #1e3f72;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.container_content_header{
  width: 65%;
  display: flex;
  justify-content: space-between;
  padding: 0.4rem;
}

.header_search{
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1vh;
}

.input_header{
  border-radius: 0.4rem;
  border: none;
  padding: 0.4rem;
  outline: none;
  height: 2vh;
  width: 20vw;
  font-size: 1.7vh;
}

.button_search{
  border: 1px solid white;
  background-color: transparent;
  border-radius: 0.4rem;
  padding: 0.4rem; 
  width: 11vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  transition: 0.2 ease;
}

.button_search:hover,
.header_button_add:hover{
  cursor: pointer;
  background-color: #4d6c9b;
}

.header_button_add{
  width: 20vw;
  border-radius: 0.4rem ;
  padding: 0.4rem;
  border: 1px solid white;
  background-color: transparent;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2 ease;

}

/* main */

.container_view{
  display: grid;
  grid-template-columns: 0.2fr 0.8fr;
}

.list_aside{
  height: 92vh;
}

/* store */


.store{
  max-height: 92vh;
  overflow-y: auto;
  background-color: #eeee;
  width: 100%;
}

.section_store{
  background-color: #fff;
  margin: 1rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container_title_section{
  margin: 1rem;
  font-size: 3vh;
  border-bottom: 1px solid grey;
}

.container_product_store{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 0.6fr);
  gap: 2vh;
}

.container_target_item{
  width: 20vw;
  height: 35vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0.4rem;
  box-shadow: 2px 2px 5px 4px rgba(0, 0, 0, 0.3);
  background-color: rgb(255, 255, 255);
  border-radius: 0.4rem;
  transition: 0.2s ease;
}

.container_target_item:hover{
  cursor: pointer;
  transform: scale(1.08);
}

.container_target_item h2{
  font-size: 2vh;
  text-align: center;
}

.target_props{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;

}

.section_store img{
  width: 100%;
  border-radius: 0.4rem;
  box-shadow: 2px 2px 5px 4px rgba(0, 0, 0, 0.3);
}


/* list aside */

.list_aside{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.list_aside h2{
  display: flex;
  margin-top: 2vh;
  font-size: 3vh;
  justify-content: center;
  align-items: center;
}

.list_aside ul{
  margin-top: 3vh;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  gap: 1vh;
}

.list_aside ul li{
  font-size: 2vh;
  font-weight: 500;
  padding: 0.4rem;
  border-radius: 0.4rem;
}

.list_aside ul li:hover{
  cursor: pointer;
  background-color: #1e3f72;
  color: #fff;
}

.li_active{
  background-color: #1e3f72;
  color: #fff;
}

/* pop up */

.pop-up-container-principal{
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(4px);
}

.pop-up-container{
  width: 50vw;
  height: 50vh;
  background-color: #fff;
  box-shadow: 5px 2px 10px 10px rgba(0, 0, 0,0.4);
  border-radius: 0.4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.container_titile_pop_up{
  width: 100%;
  text-align: center;
}

.containar_inputs_pop_up{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2vh;
}

.containar_inputs_pop_up input,
.containar_inputs_pop_up select{
  width: 60%;
  border: 1px solid grey;
  padding: 0.4rem;
  border-radius: 0.4rem;
}

.container_buttons_pop_up{
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.button_pop_up{
  padding: 0.6rem;
  border: none;
  border-radius: 0.4rem;
  font-size: 2vh;
}

.cancel{
  background-color: rgb(211, 211, 107);
}

.accept{
  background-color: rgb(22, 174, 22);
}

.delete{
  background-color: rgb(243, 45, 45);
}

/* media querys */

@media screen and (min-width: 1280px){
  
.container_product_store{
  grid-template-columns: repeat(4, 0.6fr);
}

.container_target_item{
  width: 15vw;
}
}

/* scroll bar */
::-webkit-scrollbar{
  width: 0.7rem;
  background-color: #fff;
  border-radius: 0.4rem;
}

::-webkit-scrollbar-thumb{
  background-color: #1e3f72;
  border-radius: 0.4rem;
}


::-webkit-scrollbar-thumb:hover{
  background-color: #6989b8;
}